:root {
  --simplify-background-color: lightblue;
  --simplify-sidebar-bg: white;
}
::-webkit-scrollbar {
  width: 16px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(127, 127, 127, 0.6);
  border: 5px solid var(--simplify-background-color);
}
::-webkit-scrollbar-track {
  opacity: 1 !important;
  background-color: var(--simplify-background-color);
}
::-webkit-scrollbar-track {
  /*opacity: 0;*/
}

#nav-tray-portal *::-webkit-scrollbar-track,
.message-list-scroller::-webkit-scrollbar-track {
  background-color: var(--simplify-sidebar-bg);
}
#nav-tray-portal *::-webkit-scrollbar-thumb,
.message-list-scroller::-webkit-scrollbar-thumb {
  border: 5px solid var(--simplify-sidebar-bg);
}
