/* Make the background of the login blue */
body.ic-Login-Body {
  background-color: lightblue !important;
}
/* make the main login box have an acutal background, and add styling; also center it */
.ic-Login__innerContent {
  background-color: #ecf0f5 !important;
  border-radius: 25px !important;
  border: solid black !important;
  /*
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  */
  width: 360px !important;
  max-height: 414px !important;
}
/* Remove the wordy and not that nice looking footer, serves an important use though */
body.ic-Login-Body footer#footer.ic-Login-footer {
  display: none !important;
}
/*change the school tag to fit in or just not show?*/
.ic-Login-header__logo {
  mix-blend-mode: darken;
}
/* Hide the labels that we'll add as placeholders in the text boxes */
body.ic-Login-Body .ic-Label {
  display: none !important;
}
/* style the input boxes */
body.ic-Login-Body .ic-Input.text {
  border-radius: 20px !important;
  height: 45px !important;
  border: solid #4289ad !important;
  background-color: white !important;
  width: 70% !important;
  margin: 0px auto !important;
  padding: 8px !important;
  padding-left: 25px !important;
  font-size: 14px !important;
  color: rgb(108, 108, 108) !important;
}
body.ic-Login-Body .ic-Input.text:hover {
  background-color: rgb(223, 243, 253) !important;
}
/* remove excessive links */
body.ic-Login-Body .ic-Login-header__links {
  display: none !important;
}
/* Fix for 70% width of text boxes (had to remove padding so it isn't 70% of parent) */
body.ic-Login-Body .ic-Login__body {
  padding: 0px !important;
}
/* Set height and width (constraints) for main body */
body.ic-Login-Body .ic-Login__content {
  width: 360px !important;
  height: 422px !important;
}
/* revamp login button styling */
#login_form > div.ic-Login__sso a.ic-Login__sso-button {
  background-color: white;
  background-image: url(https://lh3.googleusercontent.com/-60p40cNCUo8/YMJqHrzjzOI/AAAAAAAAAWE/Zk7Qynr0BB8LONnp2sZnQy99fJVARFapgCJEEGAsYHg/s512/2021-06-10.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 193px !important;
  height: 48px;
  aspect-ratio: 512 / 130;
  padding: 0 !important;
  border-radius: 25px !important;
  border-color: transparent !important;
  border-width: medium !important;
  transition: none !important;
}
#login_form > div.ic-Login__sso a.ic-Login__sso-button:hover {
  border-color: black !important;
  border-width: medium !important;
}
#login_form > div.ic-Login__sso a.ic-Login__sso-button > * {
  display: none;
}
/* give the extra options back their padding */
body.ic-Login-Body .ic-Login__actions {
  padding: 0px 18px;
}
/* Fix positioning of login box */
body.ic-Login-Body .ic-Login__container {
  margin-top: 0px !important;
}
/* Style the seperator between the button and top */
body.ic-Login-Body .ic-Login__sso-list {
  width: 70%;
  border-top: 1px solid rgb(0 0 0 / 15%) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: unset !important;
}
/* style the forgot password to make it less-noticible, because it's not often needed */
body.ic-Login-Body #login_forgot_password:hover {
  color: #444 !important;
}
body.ic-Login-Body #login_forgot_password {
  color: #777879 !important;
  display: inline-block !important;
  padding: 5px !important;
  font-size: 14px !important;
  text-decoration: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
body.ic-Login-Body .ic-Login__forgot {
  text-align: center !important;
}
/* Style login options panel */
.ic-Login__actions {
  flex-flow: column-reverse !important;
}
/* Style the login button for email+pass */
#login_form .Button.Button--login {
  border-radius: 25px !important;
  min-width: 120px;
  max-width: 155px;
  display: block;
  margin: 20px auto 20px;
  color: whitesmoke;
  text-transform: uppercase;
  background: #c6423c;
  border: solid medium #c6423c !important;
  border-color: #c6423c !important;
  font-size: 14px;
  line-height: 25px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}
#login_form .Button.Button--login:hover {
  border: solid black !important;
}
#login_form > div:nth-child(5).ic-Form-control.ic-Form-control--login {
  margin-bottom: 9px !important;
}
#login_form > div:nth-child(6).ic-Form-control.ic-Form-control--login {
  margin-bottom: 0px !important;
}
/* match the spacing to the top */
.ic-Login {
  margin-top: 10% !important;
  padding-top: 50px !important;
}
