:root {
  --simplify-sidebar-gradient: linear-gradient(#2e8eab, #113e75);
  --simplify-sidebar-initial: #2e8eab;
  --simplify-sidebar-dark: #246e85;
  --simplify-background-color: lightblue;
  --simplify-done-color: lightgreen;
  --simplify-done-color-alt: rgb(27, 185, 27);
  --simplify-problem-color: pink;
  --simplify-problem-color-alt: red;
  --simplify-accent-color: var(--simplify-sidebar-initial);
  --simplify-head-color: black;
  --simplify-border-width: medium;
  --simplify-class-title-bg: #ddd;
  --simplify-nav-color: white;
  --simplify-assignment-bg: white;
}
/* Make the left bar never get scrunched by a scrollbar */
#header.ic-app-header.no-print::-webkit-scrollbar {
  display: none !important;
}
/* give it a nice gradient */
#header.ic-app-header {
  background: var(--simplify-sidebar-gradient) !important;
}
#primaryNavToggle {
  background: var(--simplify-sidebar-initial);
}
#primaryNavToggle:hover {
  background: var(--simplify-sidebar-dark);
}

/* remove the ugly district logo */
#ic-app-header__logomark {
  display: none;
}
/* customize class assignments */
[dir="ltr"] .Grouping-styles__hero,
[dir="ltr"] .Grouping-styles__overlay {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}
.Grouping-styles__title {
  border-top-left-radius: 25px !important;
}
.Grouping-styles__items {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-width: var(--simplify-border-width) !important;
  border-style: solid !important;
  border-left-style: none !important;
}
li:last-of-type .PlannerItem-styles__root.planner-item,
.CompletedItemsFacade-styles__root.planner-completed-items {
  border-bottom-right-radius: 25px !important;
}
li:first-child .CompletedItemsFacade-styles__root.planner-completed-items,
li:only-of-type .PlannerItem-styles__root.planner-item {
  border-top-right-radius: 25px;
}

li:first-of-type .PlannerItem-styles__root.planner-item {
  border-top-right-radius: 25px;
}
li:last-of-type .PlannerItem-styles__root.planner-item {
  border-bottom-right-radius: 25px;
}
.ic-Layout-wrapper {
  background: var(--simplify-background-color) !important;
}
.Day-styles__root.planner-day,
#dashboard_header_container,
.ic-Dashboard-header__layout,
.PlannerHeader-styles__root.PlannerHeader {
  background: transparent !important;
}
/* add bg to now background-less tasks */
.CompletedItemsFacade-styles__root.planner-completed-items,
.PlannerItem-styles__root.planner-item {
  background: #f4f5f8 !important;
}
/* Customize late and missing tags */
.dLyYq_zGXc {
  background: var(--simplify-problem-color) !important;
  color: var(--simplify-problem-color-alt) !important;
  border-color: var(--simplify-problem-color-alt) !important;
  text-shadow: 0 0 1px white !important;
}
/* Customize graded and submitted tags */
.dLyYq_bXiG {
  background: var(--simplify-done-color) !important;
  color: var(--simplify-done-color-alt) !important;
  border-color: var(--simplify-done-color-alt) !important;
  text-shadow: 0 0 1px white !important;
}

/* remove 'Nothing Planned Yet's */
.fOyUs_bGBk.fOyUs_ImeN.fOyUs_UeJS {
  display: none;
}
.Day-styles__root.planner-day {
  margin-top: 1rem;
}
.fOyUs_bGBk.blnAQ_bGBk.blnAQ_cVrl.blnAQ_drOs.blnAQ_kWwi {
  border-bottom-style: none !important;
  opacity: 0.5;
}
/* Style the current day */
.Day-styles__root.planner-day.planner-today * {
  opacity: 1 !important;
}
.Day-styles__root.planner-day.planner-today {
  text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.445);
  color: rgb(1, 85, 85);
}
/* style the new activity indicator showing over important things */
#new_activity_button {
  opacity: 0.7;
  border-radius: 0 0 15px 15px;
  transition: opacity ease-in-out 0.25s;
}
#new_activity_button:hover {
  opacity: 1 !important;
}
/* move the padding to individual objects so that the top menu can be full width */
.ic-Layout-contentMain {
  padding: 0 0 25px 0 !important;
}
.ic-Layout-columns {
  padding: 20px !important;
}

.ic-Dashboard-header__layout,
.ic-Dashboard-header__layout * {
  color: var(--simplify-head-color);
}
#planner-today-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border-color: var(--simplify-accent-color);
  border-width: var(--simplify-border-width);
}
#dashboard-planner {
  padding: 30px 30px 0px 30px !important;
}
.Day-styles__root.planner-day > div {
  max-width: 1000px !important;
}
.Grouping-styles__root.planner-grouping {
  filter: drop-shadow(0px 0px 2px var(--simplify-accent-color)) !important;
}

/* fix scaling issues */
.ic-Layout-wrapper {
  max-width: unset !important;
}
/* style class title */
.Grouping-styles__title {
  margin: 3px !important;
  border-top-left-radius: 20px !important;
  /*background-color: var(--simplify-class-title-bg) !important;*/
}
.Grouping-styles__title {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-height: 50% !important;
  white-space: nowrap !important;
  padding-left: 20px !important;
  padding-right: 10px !important;
  height: 50% !important;
  line-height: 50% !important;
}

/* Style the top bar on assignments */
.ic-app-nav-toggle-and-crumbs,
.ic-Dashboard-header__layout {
  margin: 0px !important;
  padding: 0 24px !important;
  background: var(--simplify-nav-color) !important;
  box-shadow: 0 3px 1px #00000033;
  height: 86px !important;
  min-height: unset !important;
}
body.dashboard-is-planner .ic-Layout-columns {
  padding: 0px !important;
}
/* Customize iframe containers + submission containers */
.submission-details-container,
iframe#tool_content,
.tool_content_wrapper iframe {
  border-radius: 25px !important;
  overflow: hidden !important;
  border: solid var(--simplify-accent-color) var(--simplify-border-width) !important;
  background: var(--simplify-assignment-bg) !important;
}

.planner-empty-days,
nav#breadcrumbs,
.module-sequence-footer-content {
  background: transparent !important;
  border-style: none !important;
}
@media (min-width: 1300px) {
  .Day-styles__root.planner-day > div {
    margin-left: auto;
    margin-right: auto;
  }
  .fOyUs_bGBk.blnAQ_bGBk.blnAQ_cVrl.blnAQ_drOs.blnAQ_kWwi,
  .fOyUs_bGBk.blnAQ_bGBk.blnAQ_cVrl.blnAQ_drOs {
    text-align: center !important;
  }
}
/* floating top bar 
.ic-Layout-columns {
  margin-top: 90px !important;
}
.ic-app-nav-toggle-and-crumbs {
  width: 100% !important;
  z-index: 10000 !important;
  position: fixed !important;
}
*/
/* customize courses sidebar */
#nav-tray-portal > span > span {
  border-radius: 25px !important;
}
#nav-tray-portal > span > span > div > div > div > span > button {
  border-radius: 50% !important;
  overflow: hidden !important;
}
/* calendar page customizations */
#calendar_header .header-bar.flex-container {
  background: transparent;
}
#calendar_header .header-bar.flex-container button {
  border-radius: 25px;
  background: #ffffffaa;
  border: solid var(--simplify-border-width) var(--simplify-accent-color);
}
/* main class dashboards */
#right-side-wrapper > button,
.btn.button-sidebar-wide,
.module-sequence-footer-button--previous *[role="button"],
.module-sequence-footer-button--next *[role="button"] {
  border-radius: 25px;
  background: #ffffffaa;
  border: solid var(--simplify-border-width) var(--simplify-accent-color);
}
.todo-list.Sidebar__TodoListContainer {
  background: var(--simplify-assignment-bg) !important;
  padding: 1px 20px 8px 20px !important;
  border-radius: 25px 25px 0px 0px !important;
  border: solid var(--simplify-border-width) var(--simplify-accent-color) !important;
  border-bottom-style: none !important;
}
.events_list.recent_feedback {
  margin-top: 0px !important;
  background: var(--simplify-assignment-bg) !important;
  padding: 0px 20px 5px 20px !important;
  border-radius: 0px 0px 25px 25px !important;
  border: solid var(--simplify-border-width) var(--simplify-accent-color) !important;
  border-top-style: none !important;
  transform: translateY(-8px) !important;
}
li:last-child .ToDoSidebarItem {
  margin-bottom: 0px !important;
}
/* notification settings page */

.fOyUs_bGBk.erOvu_bGBk.erOvu_bvTK {
  border-radius: 25px !important;
  overflow: hidden !important;
  border: solid var(--simplify-border-width) var(--simplify-accent-color) !important;
}
.fOyUs_bGBk.fOyUs_desw.bDzpk_bGBk.bDzpk_busO.bDzpk_cQFX.bDzpk_bZNM {
  max-width: 1000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (min-width: 768px) {
  .fOyUs_bGBk.fOyUs_desw.bDzpk_bGBk.bDzpk_busO.bDzpk_cQFX.bDzpk_bZNM {
    transform: translateX(-84px);
  }
  .fOyUs_bGBk.fOyUs_fKlg.dJCgj_bGBk {
    filter: drop-shadow(0px 0px 4px var(--simplify-accent-color)) !important;
  }
}
